server:
  port: 8080

spring:
  datasource:
    url: jdbc:postgresql://localhost:5432/cine_db
    username: postgres
    password: PolloFrito1*
    driver-class-name: org.postgresql.Driver
  
  jpa:
    database: POSTGRESQL
    show-sql: true
    hibernate:
      ddl-auto: update
    properties:
      hibernate:
        format_sql: true
        dialect: org.hibernate.dialect.PostgreSQLDialect
  
  # Configuración de archivos (subida de imágenes)
  servlet:
    multipart:
      max-file-size: 10MB
      max-request-size: 10MB
  
  # Configuración de correo
  mail:
    host: smtp.gmail.com
    port: 587
    username: luisalazago@gmail.com
    password: PolloFrito1*
    properties:
      mail:
        smtp:
          auth: true
          starttls:
            enable: true
